.container {
    width: 100%;
    padding: 0 10% 20vh 10%;
    min-height: 85vh;
}

img {
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 150%;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 10vh 0;
}

.filters {
    min-height: 50vh;
    margin-top: 15vh;
}

.filter-forms {
    width: 100%;
    margin-top: 10vh;
}

.dropdown {
    width: 30%;
    height: fit-content;
}

.dropdown h4 {
    margin-bottom: 20px;
}

.dropdown select {
    width: 100%;
    height: 5vh;
    border: none;
    outline: none;
    background-color: #78b454;
    color: #fff;
    padding: 5px 30px 5px 10px;
    text-transform: uppercase;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

/* CARD DISPLAY */

.restaurant-cards {
    padding-top: 15vh;
    min-height: 30vh;
    overflow: hidden;
}

.cards {
    width: 40%;
    min-height: 40%;
    margin-top: 10vh;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 10px;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.cards:hover {
    border: 2px solid #888;
}

.cards div {
    height: 7vh;
    padding: 25px 0 0 15px;
}

.cards div:first-of-type {
    height: 50vh;
    padding: 0;
}

.cuisine {
    font-size: 60%;
    font-weight: 400;
    text-transform: uppercase;
}

.name {
    font-size: 130%;
    font-weight: 600;
    cursor: pointer;
}

.location {
    font-size: 90%;
}

.contact {
    font-size: 80%;
    color: #28b062;
}
