<div class="wrapper" fxLayout="col wrap" fxLayoutAlign="flex-start">
    <div class="container" fxLayout="row nowrap" fxLayoutAlign="center center">
        
        
        <div class="text-box" fxLayout="column nowrap" fxLayoutAlign="center center" >
            <h3 class="animate__animated animate__fadeInDown animate__delay-1s">Food Ordering Service</h3>
            <p style="text-align: center;" class=" animate__animated animate__fadeInDown animate__delay-1s">
                Order food from favourite restaurants near you
            </p>
            <div class="animate__animated animate__fadeInDown animate__delay-2s">
                <a routerLink="/shop" class="btn btn-full">I'm hungry</a>
                <a routerLink="/donate" class="btn btn-ghost">Donate food</a>
            </div>
        </div>
    </div>

    <div class="section section-features" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
        <div fxFlex="0 1 80%">
            <h4>How it works</h4>
        </div>
        <div fxLayout="col wrap" fxLayoutAlign="flex-start flex-start" fxFlex="0 1 23%" class="animate__animated animate__fadeInLeft animate__delay-3s">
            <img fxFlex="0 1 100%" src="../../../assets/icons/delivery.svg" alt="">
            <p>Explore restaurants that deliver to your doorstep</p>
        </div>
        <div fxLayout="col wrap" fxLayoutAlign="flex-start flex-start" fxFlex="0 1 23%" class="animate__animated animate__fadeIn animate__delay-3s">
            <img fxFlex="0 1 100%" src="../../../assets/icons/menu.svg" alt="">
            <p>Browse menus and build your order in seconds</p>
        </div>
        <div fxLayout="col wrap" fxLayoutAlign="flex-start flex-start" fxFlex="0 1 23%" class="animate__animated animate__fadeInRight animate__delay-3s">
            <img fxFlex="0 1 100%" src="../../../assets/icons/notification.svg" alt="">
            <p>Enjoy your meal and tell us about your experience</p>
        </div>
    </div>

    <div class="section section-meals">
        <ul class="meals-showcase animate__animated animate__fadeIn animate__delay-3s" fxLayout="row wrap" fxLayoutAlign="flex-start">
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/2.jpg" alt="Simple italian pizza with cherry tomatoes">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/3.jpg" alt="Chicken breast steak with vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/4.jpg" alt="Autumn pumpkin soup">
                </figure>
            </li>
        </ul>
        <ul class="meals-showcase animate__animated animate__fadeIn animate__delay-3s" fxLayout="row wrap" fxLayoutAlign="flex-start">
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/5.jpg" alt="Paleo beef steak with vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/6.jpg" alt="Healthy baguette with egg and vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/7.jpg" alt="Burger with cheddar and bacon">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="../../../assets/img/8.jpg" alt="Granola with cherries and strawberries">
                </figure>
            </li>
        </ul>
    </div>
</div>